* {
  box-sizing: border-box;
}

.container {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
}

.conteudo-forca {
  background-color: #ffffff;
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0;
  top: 0;
}

.div-forca {
  background-color: #ffffff;
  width: 40%;
  margin-top: 20px;
}
.imagem-forca {
  width: 70%;
  height: 100%;
  position: inherit;
}

.div-escolherPalavra {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.botao-palavra {
  background-color: #27ae60;
  color: #ffffff;
  width: 200px;
  height: 60px;

  margin-top: 40px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

.palavra {
  text-decoration: underline;
}

.container-teclado {
  background-color: #ffffff;
  width: 100%;
  height: 40%;
  position: fixed;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.div-teclado {
  background-color: #ffffff;
  width: 64%;
  display: flex;
  flex-wrap: wrap;
}
.botao-letra {
  color: black;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 1px solid #7aa7c7;

  font-weight: 700;
}

.desabilitado {
  background-color: #9faab5;
}

.habilitado {
  background-color: #e1ecf4;
}
